<%- include ("nav.ejs") %> 
<form action="/admin/update_blog_slider" method="post" enctype="multipart/form-data">
    <div class="container-fluid bg-white shadow">
        <div class="row">
            <div class="col-md-12 text-center text-white" style="background-image: linear-gradient(	25deg,rgb(132, 62, 148) 15%,rgb(217, 42, 194) 71%,rgb(11, 87, 239) 71%,rgb(8, 86, 243) 74%,rgb(239, 164, 246) 74%,white 95%);">
                <h3>Update Blog Slider Image</h3>
    
            </div>
            <div class="col-md-6">
                <input value="<%=blogslider[0].blog_slider_id %>" type="hidden" name="id">
                Upload Slider Image
                <input value="<%=blogslider[0].image%>" type="file" name="slider_image" class="form-control">
                <img src="/uploads/<%=blogslider[0].image%>" alt="" class="w-100">
            </div>
            <div class="col-md-6">
                Heading 
                <input value="<%=blogslider[0].text%>" type="text" name="slider_heading" class="form-control">
            </div>
            <div class="col-md-12 mt-4 text-center">
                <button class="btn btn-primary">Update Blog Slider</button>

            </div>
            <br><br><br>
            
        </div>

    </div>

</form>
<%- include ("footer.ejs") %>  
