<%- include ("nav.ejs") %>
<form action="/admin/save_blog" method="post" enctype="multipart/form-data">
    <div class="container-fluid bg-white shadow">
        <div class="row">
            <div class="col-md-12 text-center text-white" style="background-image: linear-gradient(	25deg,rgb(132, 62, 148) 15%,rgb(217, 42, 194) 71%,rgb(11, 87, 239) 71%,rgb(8, 86, 243) 74%,rgb(239, 164, 246) 74%,white 95%);">
                <h3 class="font-weight-bold">Add New Blog</h3>

            </div>
            <div class="col-md-6">
               Upload Image 
                <input required type="file" name="blog_image" class="form-control">
            </div>
            <div class="col-md-6">
                Details 
                <input required type="text" name="blog_details" class="form-control">

            </div>
            <div class="col-md-6 mt-3">
                Name 
                <input required type="text" name="blog_name" class="form-control">

            </div>
            <div class="col-md-6 mt-3">
                Date 
                <input required type="date" name="blog_date" class="form-control">

            </div>
            <div class="col-md-12 mt-3 text-center">
                <button class="btn btn-primary">Save New Blog</button>
            </div>
            <br><br><br>
        </div>


    </div>

</form>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12" style="background-image: linear-gradient(25deg,rgb(132, 62, 148) 15%,rgb(217, 42, 194) 71%,rgb(11, 87, 239) 71%,rgb(8, 86, 243) 74%,rgb(239, 164, 246) 74%,white 95%);">
            <h3 class="font-weight-bold text-center text-white">Blog List</h3>
        </div>
    <div class="col-md-12 mt-4 shadow table-responsive">
<table border="1" width="100%" class="table table-bordered table-hover">
    <tr>
        <td>ACTION</td>
        <td>Sr.No</td>
        <td>IMAGE</td>
        <td>DETAILS</td>
        <td>NAME</td>
        <td>DATE</td>
    </tr> 
    <% for (i=0;i<blogs.length;i++) { %>
    <tr>
        <td>
            <a href="edit_blog/<%=blogs[i].blog_id%>">
                <button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
            </a>
            <a href="delete_blog/<%=blogs[i].blog_id%>" onclick="return confirm('Are You Sure')">
                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </a>
        </td>
        <td><%=i+1%></td>
        <td>
            <img src="/uploads/<%=blogs[i].blog_image%>"width="100px">
        </td>
        <td style="width: 250px;"><%=blogs[i].blog_details%></td>
        <td><%=blogs[i].blog_name%></td>
        <td><%=blogs[i].blog_date%></td>
    </tr>
    <% } %>
    <% if(blogs.length == 0) { %>
        <tr>
            <td colspan="6">
            <br><br>
            <h3 style="text-align: center;color: red;">No Record Found</h3>
            <br><br>
            </td>
        </tr>
        <% } %>

</table>
</div>
    </div>
    

</div>

<!-- <! ________________________  BLOG SLIDER IMAGE AND CONTENT _____________________________________ --> 





        
<%- include ("footer.ejs") %> 

 <!-- npm i express-fileupload -->