<style>
	/* Footer Dynamic */
	.footer{
	  /* margin-top: 710px; */
	}
	@media (max-width:667px) {
	  .footer{
	   margin-top: 190px;
	}
  	}
</style>
<style type="text/css">

	*{
	  margin: 0px;
	  padding: 0px;
	}
	
	.f1{
	background-color: black;
	padding-top: 100px;
  
  
  }
  .f1 p{
	font-size: 22px;
	  color: var(--colorFont);
	 
  }
  .f2{
	background-color: black;
	padding-top: 100px;
  }
  .f3{
	
	background-color: black;
	font-size: 20px;
	  color: var(--colorFont);
	  padding-top: 100px;
  }
  .f4{
	background-color: black;
	font-size: 20px;
	  color: var(--colorFont);
	  padding-top: 100px;
  }
  .f4 ul li{
	list-style-type: none;
	padding: 10px;
  
	font-size: 20px;
  
	  color: var(--colorFont);
  
  }
  .f4 i{
	background-color:lightgreen;
	
	border-radius: 50px;
	padding: 18px;
	border-color: white;
  
  }
  
  .c1{
	height: 200px;
	margin-top: 40px;
	padding-right: 10px;
  }
  
  .c1{
	  width: 200px;
	  height: 200px;
	  animation-name: rotate;
	  animation-duration: 20s;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;
	  border-radius: 50%;
  }
  @keyframes rotate{
	  from{ transform: rotate(-360deg); }
	  to{ transform: rotate(360deg); }
  }
	
	@media (max-width: 768px) {
  
	.col-md-3 {
	  width: 100%;
	}
  
	.f1 {
	  text-align: center;
	}
  
	.f2 p {
	  font-size: 22px;
  
	}
  
	.f3 p {
	  font-size: 22px;
	}
  
	.f4 h3 {
	  text-align: center;
	  margin-left: 0;
	}
  
	.f4 ul {
	  justify-content: center;
	}
  
	/* .navbar {
	  padding: ;
	} */
	.c1{
	  text-align: center;
	}
	.f2 h4{
	  font-size: 22px;
	}
  }
  
</style>

<section class="footer">

	<div class="container-fluid  m-0 w-100">
		<div class="row">
			<div class="col-md-3 f1 text-white pb-5 m-0">
				<img src="/uploads/<%=footer[0].logo1%>">
				<img src="/uploads/<%=footer[0].logo2%>">
			</div>
			<div class="col-md-3 ps-3 f2 text-white pb-5 pe-5">
				<h3>Address</h3><br>
				<p class="pe-5"><%=footer[0].address%></p>
				<h4 style="color: #fcd200"><%=footer[0].number%></h4>
			</div>
			<div class="col-md-3 f3 ps-3 text-white pb-5">
				<h3>Links</h3><br>
        <%for(var i=0;i<link.length;i++){%>
        <a href="<%=link[i].url%>" class="text-decoration-none"><p class="text-white "><%=link[i].link_name%></p></a>
        <%}%>
				
			</div>
			<div class="col-md-3 f4 text-white pb-5">
				<h3 style="margin-left: 50px;">Get in touch</h3><br>
				<ul class="d-flex">
					<a href="<%=social_link[0].facebook_link%>"><li><i class="fa-brands fa-facebook-f" style="width: 56px;text-align: center;"></i></li></a>
					<a href="<%=social_link[0].twitter_link%>"><li><i class="fa-brands fa-twitter"></i></li></a>
					<a href="<%=social_link[0].insta_link%>"><li><i class="fa-brands fa-instagram"></i></li></a>
					<a href="<%=social_link[0].youtube%>"><li><i class="fa-brands fa-youtube"></i></li></a>
				</ul>
				<img src="/uploads/<%=social_link[0].logo%>" class="c1 w-50">
			</div>
		</div>
	</div>


	<!-- As a link -->
<nav class="navbar navbar-light bg-dark">
	<p class="text-white pt-4">Copyright © 2024 All Rights Reserved.</p>
<p class="text-white pt-4 float-right ">Terms & conditions Privacy Policy</p> 
</nav>

</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init({
	   duration: 400,
	   offset: 300,
	   easing: 'ease-in',
	   once: false
   });
 </script>